---
import "./BodyServices.css";

import BodyServicesElement from "./BodyServicesElement.astro";
import { BodyServicesInfo, BodyServicesImages } from "@data/body.ts";
---

<div class="body__services">
  <div class="body__services-title">
    <h2>Наши услуги</h2>
  </div>

  <div class="body__services-grid">
    {
      BodyServicesInfo.map((service, index) => (
        <BodyServicesElement
          servicesInfo={service}
          servicesImage={BodyServicesImages[index]}
        />
      ))
    }
  </div>
</div>
