---
import CLSLogo from "@assets/svg/CLSLogo.svg";
const navItems = [
  { title: "Главная", href: "/" },
  { title: "Наши услуги", href: "/services" },
  { title: "Каталог", href: "/catalog" },
  { title: "О компании", href: "/about" },
  { title: "Контакты", href: "/contacts" },
];
---

<header class="header">
  <div class="container right_header_container">
    <a href="/" class="logo">
      <img src={CLSLogo.src} alt="CLS Logo" />
    </a>
  </div>

  <div class="container left_header_container">
    <nav class="nav">
      <ul class="nav__list">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href}>{item.title}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <a class="phone" href="tel:+74993917570">
      <span>+7 (499) 391-75-70</span>
    </a>
  </div>
</header>

<style>
  * {
    font-family: "Roboto", sans-serif;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 100;

    background: #000000;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .right_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo img {
    display: block;
    width: 180px;
    height: 116px;
  }

  .nav {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__list {
    display: flex;
    align-items: center;
    gap: 36px;

    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav a {
    position: relative;

    display: inline-block;

    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;

    padding: 8px 0;

    transition: color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav a::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -6px;

    width: 100%;
    height: 1px;

    background: #b30057;

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .nav a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .nav a:hover {
    color: #d0d0d0;
  }

  .phone {
    display: flex;
    align-items: center;
    gap: 10px;

    color: #b30057;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 8px 32px;
  }

  .phone:hover {
    opacity: 0.8;
  }

  @media (max-width: 900px) {
    .header__container {
      height: 72px;
    }

    .nav {
      display: none;
    }

    .phone span {
      display: none;
    }
  }
</style>
