---
import type { FooterBottomProps } from "./types";

const { developerInfo } = Astro.props as FooterBottomProps;
---

<div class="footer__bottom">
  <div class="footer__bottom-left">
    <span>© 2024 CLS. Все права защищены.</span>

    <a href={developerInfo.href}>
      {developerInfo.title}
    </a>
  </div>

  <div class="footer__bottom-right">
    <a href={developerInfo.href}>
      <button class="dev-btn">
        {developerInfo.button}
      </button>
    </a>
  </div>
</div>
